:root {
    --primary-color:#333333;
    --secondary-color:#EFEFEF;
    --tertiary-color:#BEBEBE;
    --quaternary-color:#4F4F4F;
    --hover-color:#93D2F3;
}

/* Structure */
body {
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

#slideshow-logo {
    background:url("images/deli_slideshow1.jpg");
    background-position:center;
    text-align:center;
}

#home {
    margin:5%;
    align-items:center;
}

#map-header {
    justify-content:center;
    align-items:center;
    width:100%;
    border:solid 1px #000;
}

#about-us {
    margin:10%;
    align-items:center;
    border:solid 1px var(--quaternary-color);
}

#about-text {
    padding:5%;
}

#about-imgs, #vendor-img {
    text-align:center;
}

#vendors {
    margin:5%;
    align-items:center;
}

#farm-text, #supplier-text {
    padding:3%;
}

#vendor-img {
    padding:20px;
}

footer {
    background:var(--primary-color);
    color:#fff;
    padding:20px;
    text-align:center;
}

footer div:not(:last-child) {
    border-right:solid 3px #fff;
}

/* Navigation */
ul {
    list-style-type:none;
    margin:0;
    padding-left:0;
}

#main-nav {
    background:var(--primary-color);
    color:#fff;
    text-align:center;
}

#main-nav li {
    padding:25px;
    border-top:solid 1px #fff;
}

#main-nav a {
    padding:10px;
    font-weight:bold;
    font-size:1.5em;
}

#main-nav a:hover {
    color:var(--hover-color);
}

/* Flex */
.special-columns {
    display:flex;
}

.one {
        flex:1;
}

.two {
    flex:2;
}

.three {
    flex:3;
}

.four {
    flex:4;
}

.five {
    flex:5;
}

/* Classes */

/* Images */
img {
    max-width:100%;
}

#slideshow-logo img {
    width:25%;
    border-radius:50%;
}

#compass-icon {
    width:10%;
    padding-left:10px;
}

#map-img {
    border:solid 1px #000;
    border-top:none;
}

/* Table */
#hours-table {
    width:100%;
    border-collapse:collapse;
}

#hours-table td {
    border-bottom:solid 3px #000;
    margin:0;
}

#hours-table tr td:last-child {
    text-align:right;
}

#hours-table td {
    font-size:2em;
    padding:2% 5%;
}

/* Typography */
a {
    color:inherit;
    text-decoration:none;
}

#map-header h3 {
    text-align:right;
    padding-right:10px;
    font-size:1.5em;
}

#home p {
    padding:3% 8%;
}

#home h2 {
    text-align:center;
    padding:25px;
    background:var(--quaternary-color);
    color:#fff;
    border-radius:20px;
}

#about-text h2, #vendors h3 {
    text-align:center;
}

#vendors h3 {
    margin-bottom:7%;
}

/* Resolution */
@media only screen and (orientation:landscape) {
    /* Structure */
    #about-text {
        padding:3%;
    }

    /* Navigation */
    #main-nav li {
        border-top:none;
    }

    /* Flex */
    .columns {
        display:flex;
    }

    /* Classes */
    
    /* Images */
    #slideshow-logo img {
        width:15%;
    }

    /* Table */
    #hours-table td {
        font-size:100%;
    }

    /* Typography */
    #map-header h3 {
        font-size:100%;
    }
}