:root {
    --primary-color:#333333;
    --secondary-color:#EFEFEF;
    --tertiary-color:#BEBEBE;
    --quaternary-color:#4F4F4F;
    --hover-color:#93D2F3;
}

/* Structure */
body {
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

#slideshow-logo {
    background:url("images/deli_slideshow1.jpg");
    background-position:center;
    text-align:center;
}

#home {
    margin:5%;
    align-items:center;
}

#map-header {
    justify-content:center;
    align-items:center;
    width:100%;
    border:solid 1px #000;
}

#about-us {
    margin:10%;
    align-items:center;
    border:solid 1px var(--quaternary-color);
}

#about-text {
    padding:5%;
}

#about-imgs, #vendor-img {
    text-align:center;
}

#vendors, #careers {
    margin:5%;
    align-items:center;
}

#farm-text, #supplier-text {
    padding:3%;
}

#job-app-form {
    padding:3% 0 5% 25%;
    border-bottom:solid 1px var(--quaternary-color);
}

#job-desc {
    padding:5%;
    margin:5%;
    border:solid 1px var(--quaternary-color);
}

footer {
    background:var(--primary-color);
    color:#fff;
    padding:20px;
    text-align:center;
}

footer div:not(:last-child) {
    border-right:solid 3px #fff;
}

/* Forms */
#job-app-form form {
    font-size:250%;
}

#job-app-form input {
    font-size:0.75em;
}

/* Navigation */
ul {
    list-style-type:none;
    margin:0;
    padding-left:0;
}

#main-nav {
    background:var(--primary-color);
    color:#fff;
    text-align:center;
}

#main-nav li {
    padding:25px;
    border-top:solid 1px #fff;
}

#main-nav a {
    padding:10px;
    font-weight:bold;
    font-size:1.5em;
}

#main-nav a:hover {
    color:var(--hover-color);
}

/* Flex */
.special-columns {
    display:flex;
}

.one {
        flex:1;
}

.two {
    flex:2;
}

.three {
    flex:3;
}

.four {
    flex:4;
}

.five {
    flex:5;
}

.six {
    flex:6;
}

.seven {
    flex:7;
}

/* Classes */
.menu-section {
    background:var(--secondary-color);
    border:solid 1px var(--quaternary-color);
    padding:1% 3%;
}

.menu-item {
    align-items:center;
}

.menu-item-img {
    margin-right:4%;
}

.menu-item-text {
    align-items:center;
}

.menu-item-text-top {
    justify-content:space-between;
    font-size:160%;
}

.menu-item-text-bottom {
    font-size:120%;
}

/* Images */
img {
    max-width:100%;
}

#slideshow-logo img {
    width:25%;
    border-radius:50%;
}

#compass-icon {
    width:10%;
    padding-left:10px;
}

#map-img {
    border:solid 1px #000;
    border-top:none;
}

#job-img {
    padding:5%;
}

/* Table */
#hours-table {
    width:100%;
    border-collapse:collapse;
}

#hours-table td {
    border-bottom:solid 3px #000;
    margin:0;
}

#hours-table tr td:last-child {
    text-align:right;
}

#hours-table td {
    font-size:2em;
    padding:2% 5%;
}

/* Buttons */
.menu-item-text button {
    height:fit-content;
    font-size:100%;
    align-self:center;
}

/* Typography */
a {
    color:inherit;
    text-decoration:none;
}

#map-header h3 {
    text-align:right;
    padding-right:10px;
    font-size:1.5em;
}

#home p {
    padding:3% 8%;
}

#home h2 {
    text-align:center;
    padding:25px;
    background:var(--quaternary-color);
    color:#fff;
    border-radius:20px;
}

#about-text h2, #vendors h3, #job-desc h2, .menu-section h2 {
    text-align:center;
}

#vendors h3 {
    margin-bottom:7%;
}

.menu-section h2 {
    font-size:200%;
}

.menu-item-text-bottom p {
    margin-top:0;
}

/* Resolution */
@media only screen and (orientation:landscape) {
    /* Structure */
    #about-text {
        padding:3%;
    }

    #careers {
        margin:3%;
    }

    #job-app-form {
        padding:3%;
        border-bottom:none;
        border-right:solid 1px var(--quaternary-color);
    }

    #job-desc {
        padding:3%;
        margin:0;
        margin-left:5%;
    }

    /* Forms */
    #job-app-form form {
        font-size:100%;
    }

    #job-app-form input {
        font-size:100%;
    }

    /* Navigation */
    #main-nav li {
        border-top:none;
    }

    /* Flex */
    .columns {
        display:flex;
    }

    /* Classes */
    .menu-section {
        padding:1.5%;
    }
    
    /* Images */
    #slideshow-logo img {
        width:15%;
    }

    /* Table */
    #hours-table td {
        font-size:100%;
    }

    /* Buttons */
    .menu-item-text button {
        font-size:65%;
    }

    /* Typography */
    #map-header h3, .menu-section h2, .menu-item-text-top,
    .menu-item-text-bottom {
        font-size:100%;
    }
}