/* Structure */

/* Classes */
/* Hexagon from --> https://css-shape.com/hexagon/ */
.hexagon {
  height: 200px; /* adjust to control the size  */
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background: #3B8686;
}

.about {
    text-align:center;
    color:blue;
}

/* Text */
p {
    text-align:center;
    color:red;
}

#header {
    color:green;
}

#para1 {
    text-align:center;
    color:blue;
}

.center {
    text-align:center;
    color:green;
}

/* Resolution */