/* Structure */
:root {
    --first:#f07226;
    --second:#f0b026;
    --third:#f09526;
    --fourth:#f04f26;
    --fifth:#f0c826;
    --sixth:#f0c189;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background:peachpuff;
}

/* Classes */
/* Hexagon from --> https://css-shape.com/hexagon/ */
.hexagon {
  height: 200px; /* adjust to control the size  */
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background:var(--second);
}

.about {
    text-align:center;
    color:blue;
}

.projects {
    background:aqua;
}

/* Text */
p {
    text-align:center;
    color:red;
}

#header {
    color:green;
}

#para1 {
    text-align:center;
    color:blue;
}

/* Resolution */