/* Structure */
:root {
    --first:#8c1b24;
    --second:#0a0d08;
    --third:#f2f0d8;
    --fourth:#8c582a;
    --fifth:#260101;
    --bubble-font:'Bagel Fat One';
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background:var(--third);
    margin:0;
}

header {
    color:var(--first);
    font-family:var(--bubble-font);
    padding-left:10px;
}

.projects div {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.skills ul {
    list-style:none;
    padding-left:0;
}

/* Classes */
/* Hexagon from --> https://css-shape.com/hexagon/ */
.hexagon {
  height: 150px;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background:var(--second);
}

.project {
    padding:35px;
    text-align:center;
    margin:15px;
}

/* Text */

/* Resolution */