/* Structure */
:root {
    --first:#8c1b24;
    --second:#0a0d08;
    --third:#f2f0d8;
    --fourth:#8c582a;
    --fifth:#260101;
    --bubble-font:'Bagel Fat One';
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background:var(--third);
    margin:0;
}

header {
    padding-left:10px;
    font-family:var(--bubble-font);
}

.skills ul {
    list-style:none;
    padding-left:0;
}

/* Classes */
.about, .skills, .projects, footer {
    padding:10px 20px 20px 20px;
}

.about, .projects {
    background:var(--first);
    color:var(--third);
}

.skills, footer, header {
    color:var(--first);
}

.project {
    padding:35px;
    text-align:center;
    margin:15px;
    background:var(--fifth);
    border-radius:5px;
    border:solid 2px var(--third);
}

/* Flex */
.flex {
    display:flex;
    justify-content:space-evenly;
}

.wrap {
    flex-wrap:wrap;
}

.one {
    flex:1;
}

.two {
    flex:2;
}

/* Images */
img {
    max-width:100%;
}

#about-me-img img {
    width:95%;
}

/* Text */
a {
    text-decoration:none;
    color:inherit;
}

header h1 {
    text-align:center;
}

/* Resolution */