/* Structure */
:root {
    --first:#f07226;
    --second:#f0b026;
    --third:#f09526;
    --fourth:#f04f26;
    --fifth:#f0c826;
    --sixth:#f0c189;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background:#fff;
    text-align:center;
}

header {
    background:var(--first);
    color:white;
    padding:2.5px;
}

.projects div {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.skills ul {
    list-style:none;
    padding-left:0;
}

/* Classes */
/* Hexagon from --> https://css-shape.com/hexagon/ */
.hexagon {
  height: 150px;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background:var(--second);
}

.project {
    padding:35px;
    text-align:center;
    margin:15px;
}

/* Text */

/* Resolution */