/* Structure */
body {
    font-family:Arial, Helvetica, sans-serif;
    background:#fef1c4;
    margin:0;
}

#main-section-1 article {
    width:50%;
}

#main-section-1 article div {
    width:25%;
}

#main-section-1 article section {
    width:75%;
    padding:15px;
}

#section-2-aside {
    background:#c63636;
    padding:3px 15px;
    width:15%;
    margin: 0 0 5px 0;
}

#titles {
    flex:2;
}

#gallery {
    flex:3;
}

#titles, #gallery {
    justify-content:space-around;
}

#main-footer {
    background:#c63636;
    padding:15px 3px;
}

/* Navigation */
#main-nav ul {
    list-style-type:none;
    padding:0;
    margin:0;
}

#main-nav li {
    background:	#c63636;
    text-align:center;
    border:1px solid #eeeeee;
    padding:7px 0;
    flex:1;
}

#main-nav a {
    color:#ffffff;
    padding:5px 10px;
}

#section-2-nav ul {
    list-style-type:none;
    padding-left:0;
}

#section-2-nav a {
    color:#ffffff;
}

/* Images */
img {
    max-width:100%;
}

/* Classes */
.columns {
    display:flex;
}

.wrap {
    flex-wrap:wrap;
}

.nav-columns {
    display:flex;
    justify-content:space-between;
}

.title-articles {
    background:#eeeeee;
    padding:10px;
    margin: 0 0 5px 5px;
    width:42%;
}

.gallery-articles {
    background:#3a4750;
    padding:10px;
    margin: 0 0 5px 5px;
    width:27%;
}

/* Typography */
#main-header h1 {
    text-align:center;
    color:#3a4750;
}

#main-nav a {
    text-decoration:none;
}

.section-1-articles h3 {
    color:#5b6e7c
}

.section-1-articles p, .title-articles h5, .title-articles p {
    color:#3a4750;
}

.title-articles, .gallery-articles {
    text-align:center;
}

.title-articles p, .gallery-articles p {
    text-align:left;
    font-size:75%;
}

.gallery-articles h5, .gallery-articles p {
    color:#eeeeee;
}

#section-2-aside h5 {
    color:#ffffff;
}

#main-footer p {
    color:#ffffff;
    text-align:center;
    font-size:75%;
}

/* Resolution */
@media only screen and (orientation:portrait) {
    .columns {
        display:block;
    }

    .wrap {
        flex-wrap:nowrap;
    }

    .nav-columns {
        display:block;
    }

    #main-section-1 article, #main-section-1 article section, .title-articles, .gallery-articles,
    #section-2-aside {
        width:auto;
    }

    #main-section-1 article div {
        width:100%;
        text-align:center;
        padding-top:2%;
    }

    .title-articles img, .gallery-articles img {
        width:75%;
    }

    #section-2-aside a {
        font-size:75%;
    }
}