/* Structure */
body {
    font-family:Arial, Helvetica, sans-serif;
    background:#fef1c4;
    margin:0;
}

#main-section-1 article {
    width:50%;
}

#main-section-1 article aside {
    width:25%;
}

#main-section-1 article section {
    width:75%;
    padding:15px;
}

#section-2-aside {
    background:#c63636;
    padding:3px 15px;
    width:15%;
}

#main-section-2 #titles {
    width:30%;
}

#main-section-2 #gallery {
    width:50%;
}

/* Navigation */
#main-nav ul {
    list-style-type:none;
    padding:0;
    margin:0;
}

#main-nav li {
    background:	#c63636;
    text-align:center;
    border:1px solid #eeeeee;
    padding:7px 0;
    flex:1;
}

#main-nav a {
    color:#ffffff;
    padding:5px 10px;
}

#section-2-nav ul {
    list-style-type:none;
    padding-left:0;
}

#section-2-nav a {
    color:#ffffff;
}

/* Images */
img {
    max-width:100%;
}

/* Classes */
.columns {
    display:flex;
}

.wrap {
    flex-wrap:wrap;
}

.nav-columns {
    display:flex;
    justify-content:space-between;
}

.title-articles {
    background:#eeeeee;
    padding:10px;
    width:45%;
}

.gallery-articles {
    background:#3a4750;
    padding:10px;
    width:30%;
}

/* Resolution */

/* Typography */
#main-header h1 {
    text-align:center;
    color:#3a4750;
}

#main-nav a {
    text-decoration:none;
}

.section-1-articles h3 {
    color:#5b6e7c
}

.section-1-articles p, .title-articles h5, .title-articles p {
    color:#3a4750;
}

.title-articles, .gallery-articles {
    text-align:center;
}

.title-articles p, .gallery-articles p {
    text-align:left;
    font-size:75%;
}

.gallery-articles h5, .gallery-articles p {
    color:#eeeeee;
}

#section-2-aside h5 {
    color:#ffffff;
}