/* Structure */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:#f2bf27;
}

#home {
    background:#f2f0d5;
    width:90%;
    margin:auto;
    padding-left:2%;
    padding-right:2%;
    padding-top:1.5%;
    padding-bottom:1.5%;
    border-radius:7px;
    box-shadow:8px 8px #4f4f4f;
}

ul {
    list-style-type: none;
    margin: auto;
    text-align: center;
    padding: 0;
}

li {
    padding:10px;
}

a {
    color:#101010;
}

/* Images */
img {
    max-width:100%;
}

li img {
    width:30%;
}

/* Classes */
.assignments {
    background:#bdf26d;
    margin:20px auto;
    text-align:center;
}

.project {
    background:#FCF67E;
    margin:20px auto;
    text-align:center;
}

.thumbnails {
    width:70%;
    padding-top:10px;
}

/* Larger devices */
@media only screen and (orientation:landscape) {
    body {
        background:url(images/orange-bg.jpg);
        background-size:cover;
    }

    #home {
        width:80%;
    }

    #main-header h5 {
        text-align:left;
    }

    ul {
        padding-left:0;
    }

    .assignments, .project {
        margin-left:15px;
        margin-right:15px;
        margin-bottom:15px;
    }

    .columns {
        display:flex;
    }

    .one {
        flex:1;
    }

    #main-nav, #secondary-nav {
        flex-wrap:wrap;
        justify-content:space-between;
    }
}

/* Typography */

#main-header h1 {
    text-align:center;
    color:#f28b30;
}

#main-header h5 {
    color:#f28b30;
}

#main-content h2 {
    text-align:center;
}

a {
    margin-top:5px;
    text-decoration:none;
}

p {
    font-size:75%;
}